@use '../../variables.scss' as var;

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	background: var.$dark_navy;
	box-shadow: 0 2px 10px rgba(var.$navy, 0.15);
}

nav {
	position: relative;

	&[data-open="true"] {
		.menu {
			right: -20px;
		}
	}


}

.site-title {
	display: block;
	text-decoration: none;
	margin: 0;
	color: var.$red;
	font-weight: 700;
	font-size: 1.2em;
}

.hamburger {
	display: flex;
	align-items: center;
	background: none;
	border: 3px solid transparent;
	padding: 10px;
	justify-content: center;
	cursor: pointer;
	margin-left: 20px;

	svg {
		display: block;
		height: 60px;
		width: 60px;
	}

	&:hover {
		background: var.$blue;
		border-color: var.$blue;
	}
}

.menu {
	position: absolute;
	top: calc(100% + 20px);
	background: var.$dark_navy;
	width: 300px;
	right: -350px;
	text-align: right;
	box-shadow: -5px 5px 2px -2px rgba(var.$navy, 0.15);
	border-radius: 10px 0 10px 10px;
	transition: all 0.5s ease-in-out;
	padding-top: 20px;
	font-size: 0.6em;

	li {
		padding: 0;
		color: var.$red;
		font-weight: 700;

		span {
			display: block;
			padding: 10px 0;
			margin: 0 20px;
		}

		&:not(:first-child) {
			span {
				border-top: 1px solid rgba(var.$red, 0.6);
			}
		}
	}

	a {
		text-decoration: none;
		color: inherit;
		font-weight: 500;
		display: block;
		padding: 10px 40px 10px 20px;

		svg {
			display: none;
		}

		&:hover {
			background: var.$red;
			color: var.$dark_navy;
		}
	}
}

@media(min-width: var.$mq_sidebar) {
	header {
		display: block;
	}

	.site-title {
		font-size: 0.7em;
	}

	.hamburger {
		display: none;
	}

	.menu {
		position: static;
		width: auto;
		text-align: left;
		box-shadow: none;

		li {
			span {
				padding: 10px 0;
				margin: 0;
			}
		}

		a {
			display: flex;
			align-items: center;
			padding: 10px 0;

			svg {
				height: 1.1em;
				width: 30px;
				display: block;
				margin-right: 1ch;
			}
		}
	}
}