@mixin range_labels {
	$span: 3;
	$gap: 1;

	@for $i from 1 through 5 {
		$odd: ($i * 2) - 1;
		$start_odd: (($i - 1) * $span) + (($i + 0) * $gap);
		$even: ($i * 2);
		$start_even: (($i - 0) * $span) + (($i - 1) * $gap);

		&:nth-child(#{$odd}) {
			grid-column: $start_odd  / span $span;
		}

		&:nth-child(#{$even}) {
			grid-column: $start_even  / span $span;
		}
	}
}
