$background: #f7f0eb;

$blue: #318ce7;
$darkpurple: #9440a0;
$green: #64ad66;
$pink: #cb5699;
$purple: #7561c1;
$red: #e53f51;
$yellow: #ffce03;
$orange: #f78d2b;
$navy: #364c93;

$neutral: #000000;
$neutral_light_10: #e6e6e6;
$neutral_light_25: #bfbfbf;
$neutral_light_50: #808080;
$neutral_light_75: #404040;
$neutral_light_90: #191919;

$dark_navy: #0e1426;
$dark_background: #070a13;

$font_code: 'Source Code Pro', monospace;
$font_main: Montserrat, sans-serif;


$mq_sidebar: 40em;