---
import Layout from "../../layouts/DefaultLayout.astro";
import ResourceTile from "../../components/parts/ResourceTile.astro";
import sections from "../../../_data/css.js";

const content = {
	title: "Modern CSS",
};
---

<style>

</style>

<Layout content={content}>
	<ul></ul>
</Layout>{
	sections.map((block) => (
		<li>
			<ResourceTile content={block} />
		</li>
	))
}
