---
import Layout from '../../layouts/CSSLayout.astro';
import ResourceTile from '../../components/parts/ResourceTile.astro'
import Modal from '../../components/parts/Modal.astro'
import ResourceForm from '../../components/parts/AddResourceForm.astro'
import '../../styles/css/resources.css'

const response = await fetch('https://api.amyskapers.dev/workshop?section=css')
const { data = [] } = await response.json()

const content = {
	title: 'Modern CSS Resources'
}

---

<Layout content={content}>
	<ul class="resources">
		{data.map(resource => (
			<li class="block">
				<ResourceTile 
					content={{
						title: resource.properties.Name.title[0].text.content,
						img: resource.blocks.results[0],
						url: resource.properties.URL.url
					}} 
				/>
			</li>
		))}
	</ul>
	<Modal
		buttonText="Suggest Resource"
	>
		<ResourceForm section="css" />
	</Modal>
</Layout>

<style lang="scss">
	@use '../../styles/_variables.scss' as var;

	.resources {
		list-style: none;
		margin: 0;
	}

	.block {
		margin: 0;
		padding: 0;
	}

	button {
		margin-left: auto;
	}
</style>

