---
import Layout from "../../layouts/CSSLayout.astro";
import ResourceTile from "../../components/parts/ResourceTile.astro";
import Modal from "../../components/parts/Modal.astro";
import ResourceForm from "../../components/parts/AddResourceForm.astro";

const response = await fetch("https://api.amyskapers.dev/workshop?section=css");
const { data = [] } = await response.json();

const content = {
	title: "Modern CSS Resources",
};
---

<style>
	.resources {
		list-style: none;

		display: flex;
		flex-wrap: wrap;
		margin: -10px;
		justify-content: space-between;
	}

	.block {
		flex-grow: 1;
		margin: 10px;
	}

	@supports (grid-template-areas: ".") {
		.resources {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
			/* grid-column-gap: 20px;
			grid-row-gap: 15px; */
			grid-gap: 20px;
			margin: 0;
		}

		.block {
			margin: 0;
		}
	}
</style>

<Layout content={content}>
	<div>
		<ul class="resources">
			{
				data.map((resource) => (
					<li class="block">
						<ResourceTile
							content={{
								title: resource.properties.Name.title[0].text
									.content,
								img: resource.blocks.results[0],
								url: resource.properties.URL.url,
							}}
						/>
					</li>
				))
			}
		</ul>
	</div>
	<Modal buttonText="Suggest Resource">
		<ResourceForm section="css" />
	</Modal>
</Layout>
