---
import Layout from '../layouts/DefaultLayout.astro';

const content = {
	title: 'Feedback'
}
---

<Layout content={content}>
	<p>You can provide feedback at <a href="https://kapers.dev/post-workshop" target="_blank">kapers.dev/post-workshop</a></p>
</Layout>