<style lang="scss">
	@import "../../../src/styles/components/partials/footer.scss";
</style>

<footer>
	<p>No Quokkas were harmed in the making of this workshop, we promise.</p>
	<p>
		Liked this workshop? <a href="/feedback">We want feedback</a> on what you
		liked and how we can make it better for next time!
	</p>
</footer>
