---
import { Icon } from 'astro-icon'
---

<style lang="scss">
	@import '../../../src/styles/components/partials/header.scss';
</style>

<script>
	const toggleMenu = () => {
		const sidebar = document.querySelector('#sidebar').dataset
		
		if(sidebar.open == "false") {
			sidebar.open = "true"
		} else {
			sidebar.open = "false"
		}
	}
</script>

<header>
	<a class="title" href="/">Front End Web Fundamentals</a>
	<nav id="sidebar" data-open="false">
		<button class="hamburger" onClick="toggleMenu()">
			<Icon name="hamburger" />
			<span class="sr-only">Toggle Sidebar</span>
		</button>
		<ul class="menu">
			<li>
				<span>Semantic HTML</span>
				<ul>
					<li>
						<a href="/semantic-html">
							<Icon name="kiwi" />
							Quokkas
						</a>
					</li>
					<li>
						<a href="/semantic-html/examples">
							<Icon name="code" />
							Examples
						</a>
					</li>
					<li>
						<a href="/semantic-html/resources">
							<Icon name="reference-book" />
							Resources
						</a>
					</li>
				</ul>
			</li>
			<li>
				<span>Modern CSS</span>
				<ul>
					<li>
						<a href="/css/grid">
							<Icon name="board-2" />
							CSS Grid
						</a>
					</li>
					<li>
						<a href="/css/flexbox">
							<Icon name="flexibility" />
							Flexbox
						</a>
					</li>
					<li>
						<a href="/css/floats">
							<Icon name="float" />
							Floats
						</a>
					</li>
					<li>
						<a href="/css/resources">
							<Icon name="reference-book" />
							Resources
						</a>
					</li>
				</ul>
			</li>
			<li>
				<span>Accessibility</span>
				<ul>
					<li>
						<a href="/a11y">
							<Icon name="adaptive-bike" />
							Accessibility Testing
						</a>
					</li>
					<li>
						<a href="/a11y/resources">
							<Icon name="reference-book" />
							Resources
						</a>
					</li>
				</ul>
			</li>
			<li>
				<span>Visual Regression Testing</span>
				<ul>
					<li>
						<a href="/vr">
							<Icon name="difference" />
							Visual Regression Testing
						</a> 
					</li>
					<li> 
						<a href="/vr/resources"> 
							<Icon name="reference-book" />
							Resources
						</a>
					</li>
				</ul> 
			</li>  
			<li>  
				<span>UI Testing</span>
				<ul>  
					<li> 
						<a href="/ui">
							<Icon name="device" />
							UI Testing
						</a>
					</li>
					<li>
						<a href="/ui/resources">
							<Icon name="reference-book" />
							Resources
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
</header>

