---
import Layout from "../components/partials/Layout.astro";

const { content = {} } = Astro.props;
const { title = "Front End Web Fundamentals" } = content;
---

<style lang="scss">
	@import "../styles/components/partials/layout.scss";
	@import "../styles/layouts/default.scss";
	@import "../styles/layouts/a11y.scss";
</style>

<Layout content={content}>
	<main>
		<div class="content">
			<h1 class="title">{title}</h1>
			<slot />
		</div>
	</main>
</Layout>
