---
import Layout from "../components/partials/Layout.astro";

const { content = {} } = Astro.props;
const { title = "Front End Web Fundamentals" } = content;
---

<style>
	.content {
		display: grid;
	}
</style>

<Layout content={content}>
	<main>
		<div class="content">
			<h1 class="title">{title}</h1>
			<slot />
		</div>
	</main>
</Layout>
