---
import Layout from '../components/partials/Layout.astro'
import '../styles/css/cssGrid.css'

const { content = {} } = Astro.props
const { title = 'Front End Web Fundamentals' } = content
---

<style lang="scss">
	@import '../styles/layouts/default.scss';

	.content {
		padding: 20px;

		:global(img) {
			max-width: 100%;
			max-height: 400px;
			margin: 20px auto;
			display: block;
		}
	}
</style>

<Layout content={content}>
	<article class="content">
		<h1 class="title">{title}</h1>
		<slot />
	</article>
</Layout>