---
import Layout from "../components/partials/Layout.astro";

const { content = {} } = Astro.props;
const { title = "Front End Web Fundamentals" } = content;
---

<Layout content={content}>
	<div>
		<div class="content">
			<h1 class="title">{title}</h1>
			<slot />
		</div>
	</div>
</Layout>
