.resources {
	display: flex;
	flex-wrap: wrap;
	margin: -10px;
}

.resources li.block {
	margin: 10px;
	flex-grow: 1;
	flex-basis: 200px;
}

@supports(grid-template-areas: '.') {
	.resources {
		margin: 0;
		display: grid;
		/* grid-template-columns: repeat(4, 1fr); */
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		/* grid-gap: 20px; */;
		grid-column-gap: 30px;
		grid-row-gap: 20px;
	}

	.resources li.block {
		margin: 0;
	}
}